:root {
  --background: #171717;
  --color: #eee;
  --dark: #252525;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 0.5rem;
  color: var(--color);
  background: none;
  border: 1px solid var(--color);
  border-radius: 0.25rem;
}

.root {
  padding: 1rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.progress {
  display: flex;
  align-items: center;
}

.progress img {
  height: 1.6em;
  margin-right: 0.25em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageList a {
  position: relative;
  display: flex;
}

.imageList a img,
.imageList a video {
  margin: 0.25rem;
  border: 1px solid var(--dark);
  height: 165px;
}

.imageList a .wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.imageList a .icon {
  border: none;
  height: 50%;
  max-height: 70px;
  max-width: 70px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
